header {
    align-items: center;
    background-color: #000;
    color: #fff;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    height: 60px;
    padding: 0 30px;
    position: sticky;
    z-index: var(--mer-z-index-navigation-top);
    top: 0px;
}

.header__logo {
    width: 250px;
    height: fit-content;
    vertical-align: middle;
}

@media (min-width: 768px) and (max-width: 850px) {
    .header__logo {
        width: 25vw;
    }
}